@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(./assets/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Heading */
h1 {
  text-align: center;
  color: #fefefe;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.hide{
  display: none;
}

.info-card {
  width: 180px;
  position: relative;
  z-index: 1;
}

.info-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(16, 49, 89, .15);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  width: 35px;
}

.info-card-title {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
  background-color: #fff;
  width: 170px;
  height: 40px;
  border: 1px solid rgba(16, 49, 89, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 120px 120px 0;
  padding: 10px 10px 10px 50px;
}

/* Card */

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}

.card {
  width: 150px;
  height: 150px;
  perspective: 600px;
  cursor: pointer;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* border: 2px solid black; */
  border-radius: 10px;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-back {
  background-color: rgb(239, 222, 222);
}

.flipped .card-back {
  transform: rotateY(180deg);
}

.flipped .card-front {
  transform: rotateY(0);
}

.card-front,
.card-back {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotate(180deg);
}

/* Modal */
.modal-div{
  width: 100%;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  min-height: 200px;
  margin: 60px auto;
  text-align: center;
  /* z-index: 9999; */
}


h2,
h3 {
  color: #91181d;
  font-family: "Ubuntu", sans-serif;
}

.modal-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.reset {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  cursor: pointer;
}

.star {
  width: 250px;
  margin: 20px auto;
}


/* Media Query */

@media screen and (max-width: 1242px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }

  body {
    padding: 50px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 611px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }

  body {
    padding: 50px 20px;
  }

  .card {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 425px) {
  .modal {
    margin: 60px 20px;
  }
}